
<div id="map" class="carousel">Loading</div>
<input type="button" id="send" value="Here!" class="btn btn-default" />

@section scripts
{
    $(function() {
        var hub = $.connection.geo;
        var Geo={};

        if (navigator.geolocation) {
           navigator.geolocation.getCurrentPosition(success, error);
        }

        //Get the latitude and the longitude;
        function success(position) {
            Geo.lat = position.coords.latitude;
            Geo.lng = position.coords.longitude;
            SetItems(Geo.lat, Geo.lng);
        }

        function error(){
            console.log("Geocoder failed");
        }

        function SetItems(lat, lng){
            var myLatlng =  new Microsoft.Maps.Location(lat, lng);
            
            var mapOptions = {
                credentials: "AoMnnR3fGh3C9c46bdXzjxm4Kr5LsDA7_OI31XrRVz5j0LnY5qufMtXNvXw3zj7j",
                mapTypeId: Microsoft.Maps.MapTypeId.aerial,
                center: myLatlng,
                zoom: 15
            }
            var map = new Microsoft.Maps.Map(document.getElementById("map"), mapOptions);

            @*var map = new google.maps.Map(document.getElementById("map"), mapOptions);

            var marker = new google.maps.Marker({
                position: myLatlng
            });

            marker.setMap(map);*@
        }

        hub.client.MultiCast = function (lat, lng) {
            SetItems(lat, lng)
        };

        $.connection.hub.start().done(function () {
            $('#send').click(function () {
                hub.server.myLocation(Geo.lat, Geo.lng);
            });
        });
    });
}