
<input type="button" id="send" value="Here!" class="btn btn-default container" />
<input type="text" id="notification" value="Yam" />
<div id="map" class="carousel">Loading</div>

@section scripts
{
    $(function() {
        var hub = $.connection.geo;
        var Geo={};
        var map;

        if (navigator.geolocation) {
           navigator.geolocation.getCurrentPosition(success, error);
        }

        //Get the latitude and the longitude;
        function success(position) {
            Geo.lat = position.coords.latitude;
            Geo.lng = position.coords.longitude;

            var here = new Microsoft.Maps.Location(Geo.lat, Geo.lng);
            var mapOptions = {
                credentials: "AoMnnR3fGh3C9c46bdXzjxm4Kr5LsDA7_OI31XrRVz5j0LnY5qufMtXNvXw3zj7j",
                mapTypeId: Microsoft.Maps.MapTypeId.aerial,
                center: here,
                showScalebar: false,
                zoom: 16
            }
            
            map = new Microsoft.Maps.Map(document.getElementById("map"), mapOptions);
        }

        function error(){
            console.log("Geocoder failed");
        }
    
        hub.client.MultiCast = function (lat, lng, notification) {
            notification = notification != null && notification !== undefined ? notification : '';

            var pin = new Microsoft.Maps.Pushpin(new Microsoft.Maps.Location(lat, lng), {text: notification});
            map.entities.push(pin);
        };

        $.connection.hub.start().done(function () {
            //Send Login
            hub.server.myLocation(Geo.lat, Geo.lng, 'Yam');

            $('#send').click(function () {
                var notification = document.getElementById("notification").value;

                notification = notification != null && notification !== undefined ? notification : '';
                hub.server.myLocation(Geo.lat, Geo.lng, notification);
            });
        });
    });
}