
<input type="button" id="send" value="Here!" class="btn btn-default container" />

<div id="map" class="carousel">Loading</div>

@section scripts
{
    $(function() {
        var hub = $.connection.geo;
        var map;

        if (navigator.geolocation) {
           navigator.geolocation.getCurrentPosition(success, error);
        }

        //Get the latitude and the longitude;
        function success(position) {
            var lat = position.coords.latitude;
            var lng = position.coords.longitude;

            var here = new Microsoft.Maps.Location(lat, lng);
            var mapOptions = {
                credentials: "AoMnnR3fGh3C9c46bdXzjxm4Kr5LsDA7_OI31XrRVz5j0LnY5qufMtXNvXw3zj7j",
                mapTypeId: Microsoft.Maps.MapTypeId.aerial,
                center: here,
                showScalebar: false,
                zoom: 16
            }
            map = new Microsoft.Maps.Map(document.getElementById("map"), mapOptions);

            var pin = new Microsoft.Maps.Pushpin(here, {text: 'Me'});
            map.entities.push(pin);
        }

        function error(){
            console.log("Geocoder failed");
        }
    
        hub.client.MultiCast = function (lat, lng) {
            var pin = new Microsoft.Maps.Pushpin(new Microsoft.Maps.Location(lat, lng), {text: '?'});
            map.entities.push(pin);
        };

        $.connection.hub.start().done(function () {
            $('#send').click(function () {
                hub.server.myLocation(Geo.lat, Geo.lng);
            });
        });
    });
}