<div class="form-inline">
    <input type="text" class="form-control input-lg" maxlength="12" id="notification" value="Yam" />
    <input type="button" id="send" value="Jam" class="btn btn-info btn-lg" />
</div>
<div id="map" class="carousel">Loading</div>

glyphicon glyphicon-globe